
<div class="contacto-includes">
  <div>
  <a href="mailto:yrjo@tuta.io" style="display:flex;flex-direction:row;flex-wrap:nowrap">
    <span class="material-symbols-outlined">mail</span>
      Correo electrónico
  </a>
  </div>
  <div style="display:flex;align-items:center;align-content:center;">
<a href="https://instagram.com/eyrjo" style="display:flex;flex-direction:row;flex-wrap:nowrap">
 <i class="fa-brands fa-instagram" style="font-size: 23px;margin-right:10px;padding-left:2px;padding-right:2px;display:flex;align-content:center;align-items:center;flex-direction:row;"></i>
  Instagram
</a>
  </div>
</div>
