---
---

@import "jekyll-theme-primer";

body {
    color: #bbb;
    background-color: #181818;
    font: 400 15px / 1.5 "Roboto", "Helvetica Neue", -apple-system, sans-serif;
    line-height:1.25;
    margin: 4rem 2rem 1rem 2rem;
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 18px;
    border-bottom: none;
    font-weight: 700;
}

a {
    color: #bbb !important;
}

a:hover {
    text-decoration: underline;
}

.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 18px;
    border-bottom: none;
    font-weight: 700;
}

.container-lg {
    max-width: 750px;
}

.contacto-includes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    gap: .5rem;
}

.material-symbols-outlined {
    margin-right:10px;
}

.fa-brands .fa-instagram .fa-lg {
     margin-right:10px;
}
